@model BDI.TrabalhoFinal.Models.Viagem

@{
    ViewData["Title"] = "Exclusão";
}

<h1>Exclusão</h1>

<h3>Deseja realmente excluir o registro?</h3>
<div>
    <h4>Viagem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CpfPassageiro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CpfPassageiro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Veiculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Veiculo.Cor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CpfMotorista)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CpfMotorista)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PasageiroId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PasageiroId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocalOrigem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalOrigem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocalDestino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalDestino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataHoraInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataHoraInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataHoraFim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataHoraFim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormaPagamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormaPagamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorPagar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorPagar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GerenteId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GerenteId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FoiCancelada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoiCancelada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EhPagamentoPosteriori)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EhPagamentoPosteriori)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
