@model IEnumerable<dynamic>

    @{
    var monthName = System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName((int)ViewBag.Month);
    }

    <h2>Faturamento de Veículos em @monthName @ViewBag.Year</h2>

    <table>
        <thead>
            <tr>
                <th>Proprietário</th>
                <th>Placa do Veículo</th>
                <th>Tipo de Pagamento</th>
                <th>Valor Total Faturado</th>
                <th>Valor Médio de Faturamento</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var revenue in Model)
        {
            <tr>
                <td>@revenue.OwnerName</td>
                <td>@revenue.VehiclePlate</td>
                <td>@revenue.PaymentType</td>
                <td>@revenue.TotalAmount.ToString("C")</td>
                <td>@revenue.AverageAmount.ToString("C")</td>
            </tr>
        }
        </tbody>
    </table>
